output/*
ag_data/*
data/*

# pycache
__pycache__/
*.pyc

# venv
venv/
.venv/
.env
*/.env

.claude/
CLAUDE.md
AGENTS.md

# data
data/*
merged_data/*
processed_data/*
training/wandb/*
*.zip

images/

.DS_Store
*/.DS_Store
